{% extends "homepage/shop.html" %}
{% block content %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Private bookings and Hire of the Gym are available 8am-9pm for:
– Photoshoots (where you hire the gym and bring your own photographer for non commercial use ie: personal social media page)
– Your own private workout (where you have the gym to yourselves and no instructor )
– Retreats and groups ( with or without an instructor)
– Commercial Hire for filming and shoots
Please note that we require you to fill out a booking form and make a full payment via Paypal before we can confirm your booking. Bookings are only refunded if cancelled with 48 hours notice.

For inquiries email us directly at</h1>
    </body>
</html>
{% endblock content %}