footer {
    background: red;
    text-align: center;
    padding-bottom: 20px;
    color: black;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

div{
    background-color: sandybrown;
}