.navbar-top {
  width: 100%;
  background-color: #2C3349;
  overflow: auto;
}

.navbar-top a {
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar-top a:hover {
  background-color: #000;
}

.active {
  background-color: #CFB08D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar-top a {
        float: none;
        display: block;
    }
}

.navbar-brand{
    text-align: center;
}


.navbar .navbar-bottom {
  width: 100%;
  background-color: #2C3349;
  overflow: auto;
}

.navbar-bottom a {
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar-bottom a:hover {
  background-color: #000;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar-bottom a {
        float: none;
        display: block;
    }
}


 .image{
  position: relative;
}


.text-block {
  position: absolute;
  top: 8px;
  left: 16px;
    color: white;
    font-size: 50px;
}

.link-primary {
    border-style: solid;
    font-size: 20px;
}

footer {
     position: static;
     text-transform: uppercase;
     bottom:0;
     width:100%;
     height:30px;
     text-align: center;
     color: grey;
     font-size:12px;

 }